@font-face {
    font-family: Spartan;
    src: url(assets/font.ttf);
}

@keyframes flyin {
    from { top: -30px; opacity: 0; }
    to { top: 0px; opacity: 1; }
}

body{
    background-image: url("assets/bg.png");
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#content{
    width: 60%;
    background-color: #1C2939;
    margin: 0 auto;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 80%;
    max-width: 730px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    position: relative;
    animation-name: flyin;
    animation-duration: 0.8s;
}

.text{
    font-family: Spartan;
    color: white;
    animation-name: flyin;
    animation-duration: 0.8s;
    position: relative;
}

p{
    text-align: center;
    margin: 25px;
    font-weight: 400;
    font-size: 1.6vw;
    margin-top: 14px;
}

.extrabox{
    width: 100%;
    background-color: #223348;
    padding-bottom: 5px;
}

h1{
    text-align: center;
    margin: 0px;
    padding: 20px;
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 7.2vw;
}

#players{
    width: 65%;
    display: block;
    margin: 0 auto;
    margin-top: -10px;
    padding-bottom: 30px;
    position: relative;
    animation-name: flyin;
    animation-duration: 0.8s;
}

h2{
    text-align: left;
    margin: 0px;
    padding: 0 50px;
    padding-bottom: 0px;
    font-weight: 600;
    font-size: 4vw;
}

#playertext{
    text-align: left;
    margin: 20px;
    margin-top: 5px;
    font-size: 1.5vw;
}

#playertext2{
    text-align: right;
    margin: 20px;
    margin-top: 5px;
    font-size: 1.5vw;
}

#bendoyle{
    text-align: right;
}

h3{
    text-align: center;
    margin: 0px;
    padding: 0 50px;
    font-weight: 600;
    font-size: 3vw;
}

a{
    text-decoration: none;
    font-family: Spartan;
    color: #F5B33D;
    font-weight: 600;
    font-size: 2.4vw;
    display: block;
    margin: 0px;
    text-align: center;
    margin-top: -3px;
    margin-bottom: 20px;
    position: relative;
    animation-name: flyin;
    animation-duration: 0.8s;
}

a:hover{
    color: #896424;
}

a:active{
    color: #ffdea6;
}

#tierlist{
    width: 85%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 30px;
    position: relative;
    animation-name: flyin;
    animation-duration: 0.8s;
}

#footer{
    text-align: center;
    margin: 10px;
    font-weight: 400;
    font-size: 1.6vw;
    margin-top: 14px;
    padding-top: 15px;
}

h5{
    text-align: center;
    margin: 10px;
    margin-top: -15px;
    font-weight: 600;
    font-size: 1.9vw;
}

#tierlister{
    margin: 0px
}

/* Table styling */
table {
    width: 80%;
    margin: 5px auto;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #1C2939;
    position: relative;
    animation-name: flyin;
    animation-duration: 0.8s;
  }
  
  /* Header cell styling */
  th {
    background-color: #1C2939;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  /* Data cell styling */
  td {
    border: 2px solid #ddd;
    padding: 14px;
    text-align: center;
    font-size: 1rem
  }

  #spoiler{
    margin: 20px;
    margin-top: -5px;
  }

  @media (max-width: 768px) {
    body{
        scale: 1.5;
    }
    #content {
      width: 60%;
    }
  }
